.board {
    border: 0.063em solid lightgrey;
    border-radius: 0.125em;
    padding: 0.5em;
    margin-bottom: 0.5em;
    display: flex;
    margin-left: 0.313em;
}

.container {
    padding: 1em;
    display: flex;
}
