.container {
    border: 0.063em solid lightgrey;
    border-radius: 0.125em;
    background-color: white;
    padding: 0.500em;
    margin-bottom: 0.500em;
    display: flex;
    word-break: break-all;
}